<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/home">
</head>
<body>
    <div className="container">
        <div class="jumbotron" style="background-color: white;">
            <h1 className="display-4">Sistema de RH</h1>
            <p className="lead">Faça cadastros de candidatos, vagas, e relacione eles</p>
            <hr />
            <p>Aplicação desenvolvida, como projeto para tentativa de estágio na BSN Técnologia</p>
        </div>
    </div>
</body>
</html>
